@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html
{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    background-image: url("https://i.ibb.co/gjBLgVZ/zyro-image-1.jpg");
    background-size: 100% auto;}